# 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

In [2]:
holiday = pd.read_csv("holidays_events.csv")
oil = pd.read_csv("oil.csv")
stores = pd.read_csv("stores.csv")
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
transaction = pd.read_csv("transactions.csv")

In [4]:
holiday.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [5]:
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [7]:
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [8]:
transaction.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [9]:
train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

# 데이터 분석하기

In [16]:
train

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0

train 데이터프레임을 확인해보면 의미있는 feature는 date, store_nbr, family, sales, onpromotion임을 유추할 수 있다.

In [21]:
for column in train.columns:
    print(column,"종류-------------------------------------------")
    print(train[column].unique())

id 종류-------------------------------------------
[      0       1       2 ... 3000885 3000886 3000887]
date 종류-------------------------------------------
['2013-01-01' '2013-01-02' '2013-01-03' ... '2017-08-13' '2017-08-14'
 '2017-08-15']
store_nbr 종류-------------------------------------------
[ 1 10 11 12 13 14 15 16 17 18 19  2 20 21 22 23 24 25 26 27 28 29  3 30
 31 32 33 34 35 36 37 38 39  4 40 41 42 43 44 45 46 47 48 49  5 50 51 52
 53 54  6  7  8  9]
family 종류-------------------------------------------
['AUTOMOTIVE' 'BABY CARE' 'BEAUTY' 'BEVERAGES' 'BOOKS' 'BREAD/BAKERY'
 'CELEBRATION' 'CLEANING' 'DAIRY' 'DELI' 'EGGS' 'FROZEN FOODS' 'GROCERY I'
 'GROCERY II' 'HARDWARE' 'HOME AND KITCHEN I' 'HOME AND KITCHEN II'
 'HOME APPLIANCES' 'HOME CARE' 'LADIESWEAR' 'LAWN AND GARDEN' 'LINGERIE'
 'LIQUOR,WINE,BEER' 'MAGAZINES' 'MEATS' 'PERSONAL CARE' 'PET SUPPLIES'
 'PLAYERS AND ELECTRONICS' 'POULTRY' 'PREPARED FOODS' 'PRODUCE'
 'SCHOOL AND OFFICE SUPPLIES' 'SEAFOOD']
sales 종류-------------------------------------------
[0.000000e+00 2.000000e+00 8.100000e+02 ... 4.381330e+02 1.545530e+02
 2.419729e+03]
onpromotion 종류-------------------------------------------
[  0   3   5   1  56  20  19   2   4  18  17  12   6   7  10   9  50   8
  16  42  51  13  15  47  21  40  37  54  24  58  22  59  11  45  25  55
  26  43  35  14  28  46  36  32  53  57  27  39  41  30  29  49  23  48
  44  38  31  52  33  34  61  60 116  86  73 113 102  68 104  93  70  92
 121  72 178 174 161 118 105 172 163 167 142 154 133 180 181 173 165 168
 186 140 149 145 169 188  62  84 111  65 107  63 101  87 125  94 114 171
 153 170 166 141 155 179 192 131 147 151 189  79  74 110  64  67  99 123
 157 117 150 182 162 160 194 135 190  69 108  89 126 156 103 146 132 177
 164 176 112  75 109  91 128 175 187 148 137 184 196 144 158 119 106  66
 100  90 120 115  98 159 152 185 139 143  80 124  71 134 193  78  88 122
 130  81  97 138 191  76  96 198  82  95 195 183 199 200 201 197  77  83
 136 205 204 202 129 206  85 209 211 207 208 203 210 127 213 212 218 216
 217 214 222 220 223 229 225 228 224 231 215 233 230 235 227 221 226 219
 289 245 609 261 322 276 710 511 326 281 718 551 304 639 489 299 243 630
 476 655 446 286 633 435 302 644 470 332 259 702 520 300 241 668 510 237
 626 507 317 624 474 240 672 306 600 383 293 258 646 444 333 279 717 342
 720 547 305 642 452 313 252 664 481 277 307 264 684 479 255 657 441 312
 269 716 528 320 285 726 536 283 628 469 464 677 420 247 629 424 290 473
 294 722 485 297 282 719 543 253 254 678 496 275 741 512 236 234 244 239
 238 242 232 249 250 251 391 539 411 486 407 330 697 246 467 263 591 248
 519 425]

각 데이터의 unique을 통해 범주형과 연속형을 나눠볼 수 있다.
- 범주형 : store_nbr, family
- 연속형 : 나머지

In [34]:
holiday

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False
...,...,...,...,...,...,...
345,2017-12-22,Additional,National,Ecuador,Navidad-3,False
346,2017-12-23,Additional,National,Ecuador,Navidad-2,False
347,2017-12-24,Additional,National,Ecuador,Navidad-1,False
348,2017-12-25,Holiday,National,Ecuador,Navidad,False
349,2017-12-26,Additional,National,Ecuador,Navidad+1,False

holiday 데이터프레임은 쉬는 날이므로, 해당 날짜는

In [39]:
dates = holiday["date"]
dates

0      2012-03-02
1      2012-04-01
2      2012-04-12
3      2012-04-14
4      2012-04-21
          ...
345    2017-12-22
346    2017-12-23
347    2017-12-24
348    2017-12-25
349    2017-12-26
Name: date, Length: 350, dtype: object

In [ ]:
for date in dates:
    print(train[train["date"]==date])

Empty DataFrame
Columns: [id, date, store_nbr, family, sales, onpromotion]
Index: []
Empty DataFrame
Columns: [id, date, store_nbr, family, sales, onpromotion]
Index: []
Empty DataFrame
Columns: [id, date, store_nbr, family, sales, onpromotion]
Index: []
Empty DataFrame
Columns: [id, date, store_nbr, family, sales, onpromotion]
Index: []
Empty DataFrame
Columns: [id, date, store_nbr, family, sales, onpromotion]
Index: []